[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "django>=5.2.9",
    "psycopg2-binary>=2.9.11",
    "whitenoise>=6.0.0",
]
